.absolute-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2vh;
  z-index: 9999;
  width: 50vw;
  height: 80vh;
  transform: translate(-50%,-50%);
  background: rgba(64, 86, 96, 0.5);
  border-radius: 2vh;
}
