  @if(selectedChat){
    <div class="chat-app">
    <div class="companion-name">
      <div class="companion-info">
        <div>
          <p>{{ selectedChat.companion }}</p>
        </div>
        <div class="status" [ngStyle]="{'color': !selectedChat.status ? 'gray' : 'green'}">
          {{ selectedChat.typing ? 'Typing...' : (selectedChat.status ? 'Online' : 'Offline') }}
        </div>
      </div>
      <div class="companion-avatar">
        <img [src]="computeImgPath('avatar_sample.png')">
      </div>
    </div>
    <div class="messages-holder">
      <div class="message-list">
        @for(message of chatMsgHistory; track message){
            @if(message.from_user === authUsername && message.from_user != undefined){
              <div class="message-item-me">
                <div class="message-sender">
                  {{message.from_user}}
                </div>
                <div class="message-content">
                  {{message.message_text}}
                </div>
              </div>
            } @else if(message.from_user !== authUsername && message.from_user != undefined){
              <div class="message-item-companion">
                <div class="message-sender">
                  {{message.from_user}}
                </div>
                <div class="message-content">
                  {{message.message_text}}
                </div>
              </div>
            }
        }
      </div>
    </div>
    <div class="input-message">
      <div class="input-content">
        <textarea placeholder="Input a message..."
                  [(ngModel)]="inputMessage"
                  resizeInput [inputMessage]="inputMessage"
                  (ngModelChange)="onHandleTyping()"></textarea>
      </div>
      <div >
        <img [src]="computeImgPath('send')" (click)="onSendMessage()" alt="">
      </div>
    </div>
    </div>
  }

